@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Lato');


/* Universal Settings */
* {background-color: #fff; color: #000; box-sizing: border-box; font-family: Lato, serif; font-size: 100%; margin: 0; padding: 0;}
h1 {}
h2 {}
p {line-height: 1.5em; padding-bottom: 1em;}
a:link {color: blue;}
a:visited {color: #dc2828;}
a:active {color: #dc2828;}
a:hover {}
ul {padding-top: 1em;}
li {list-style: none; margin: 0 0 2em 0}
	li:last-child {margin: 0 0 1em 0}
img, embed, object, video, iframe {border: none; max-width: 100%;}


/* Header */
.logo {font-size: 3em;}
	.logo a {color: #000; font-family: 'Archivo Black'; text-decoration: none;}
	.logo a:hover {font-size: 1em;}
.subtitle {margin-left: 2%;}
.nav-container {margin: 5% 2% 7% 2%;}
	.home {padding-bottom: .75em;}
	.senseantisense-home {padding-bottom: .75em;}
	.archive {padding-bottom: .75em;}
	.emoji {display: none;}


/* Journal Pages */
.journal-content {font-size: 1.1em; padding: 2em .5em;}
.journal-heading {background-color: #4484ce; color: #fff; font-size: 2em; line-height: 1em; padding: .3em .3em .3em .1em;}
.journal-date {display: block; font-weight: bold; padding-bottom: 1em;}


/* Footer */
.footer-container {margin-top: 10%; margin-left: 3%;}
	.footer-container p {padding-bottom: 1em;}
	.footer-container-highlight {background-color: yellow; margin-left: -.1%;}


/** Media Queries (large screens) **/
@media only screen and (min-width: 80em) {
* {margin-left: 1%;}
.logo {font-size: 14em; margin-top: -.35em;}
.nav-container {margin: 0 0 5% 1%;}
}

@media only screen and (min-width: 60em) {
h1 {font-size: 5em;}
/* .emoji {font-size: 100em; margin-left: 60%; overflow-x: hidden; overflow-y: hidden; position: absolute; z-index: -1;} */
.emoji {display: block; font-size: 50em; margin: -10% 0 0 60%; position: fixed;}
.journal-content {width: 60%;}
.footer-container {margin-top: 5%;}
	.footer-container p {width: 50%;}
}
