@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');


/* Universal Settings */
* {box-sizing: border-box; font-family: 'Anonymous Pro', serif; font-size: 100%; margin: 0; padding: 0;}
h1 {}
h2 {}
p {line-height: 1.25em; padding-bottom: 1em;}
a:link {color: blue;}
a:visited {color: red;}
a:active {color: red;}
a:hover {}
ul {padding-top: 1em;}
li {list-style: none; margin: 0 0 2em 0}
	li:last-child {margin: 0 0 1em 0}
img, embed, object, video, iframe {border: none; max-width: 100%;}


/* Header */
.logo {font-size: 3em;}
	.logo a {color: #63d7bf; font-family: 'Archivo Black'; text-decoration: none;}
	.logo a:hover {font-size: 1em;}
.subtitle {margin-left: 1%;}
.nav-container {margin: 5% 2% 7% 2%;}
	.home {padding-bottom: .75em;}
	.senseantisense-home {padding-bottom: .75em;}
	.archive {padding-bottom: .75em;}
	.emoji {display: none;}


/* Journal Pages */
.journal-content {padding: 2em .5em;}
.journal-heading {line-height: .6em; padding-bottom: .3em;}
.journal-date {font-weight: bold;}


/* Footer */
.footer-container {border: 3px solid #000; margin-top: 10%; padding: 2em .5em;}
	.footer-container p {padding-bottom: 1em;}


/** Media Queries (large screens) **/
@media only screen and (min-width: 80em) {
.logo {font-size: 14em; margin-top: -.35em;}
.nav-container {margin: 0 0 5% 1%;}
}

@media only screen and (min-width: 60em) {
h1 {font-size: 5em;}
/* .emoji {font-size: 100em; margin-left: 60%; overflow-x: hidden; overflow-y: hidden; position: absolute; z-index: -1;} */
.emoji {display: block; font-size: 100em; margin: -30% 0 0 55%; position: fixed;}
.journal-content {width: 60%;}
.footer-container {margin-top: 5%;}
	.footer-container p {width: 60%;}
}
