 @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i&display=swap');

/* Universal Settings */
@viewport {width: device-width;}
:root {font-size: 1rem;}
html {background-color: #fff; background-image: url("image.png"); background-repeat: repeat; color: #f1f1f1; font-family: 'IBM Plex Mono', monospace; font-weight: 400; margin: 0; padding: 0;}
h1 {font-size: 3.052em; font-weight: 700;}
h2 {font-size: 2.441em; font-weight: 700;}
p {line-height: 1.6; margin: .5em 0;}
a:link {color: #fff;}
a:visited {color: #fff;}
a:active {color: #fff;}
a:hover {}
ol li {list-style: decimal; margin: .5em 0 .5em .5em;}
li {line-height: 1.6; list-style: none; margin: 0 0 0 1em;}
strong {font-weight: 700;}
em {font-weight: 400i;}
img, embed, object, video, iframe {border: none; max-width: 100%;}
img {padding-top: 2em;}


/* Header */
.journal-heading-container {background-color: #000; display: grid; grid-row-gap: 2em; max-width: 33rem;}
  .logo {font-size: 2em; padding: .5em;}
    .logo a {color: #fff;}
  .journal-heading-container a {text-decoration: none;}
  .subtitle {padding: 0 0 1em 1em;}
  nav {padding: 0 0 1em 1em;}


/* Journal Pages */
.journal-container {display: grid; grid-row-gap: 2em; max-width: 33rem;}
.journal-container article {background-color: #000; padding: 1.5em;}
.journal-container article:first-child {margin-top: 2em;}
time {}


/* Footer */
.footer-container {background-color: #000; display: grid; margin-top: 2em; max-width: 33rem;}
  .footer-container p {padding: .5em;}


/** Media Queries (large screens) **/
@media only screen and (min-width: 60em) {
  html {margin: auto; max-width: 33rem;}
}
