/* CSS 2021 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Universal Settings */
@viewport {width: device-width;}
:root {font-size: 1rem;}
html {background-color: #fff; box-sizing: border-box; color: #000; font-family: 'Open Sans', verdana, sans-serif; font-weight: 400; margin: 2em 1em 1em 1em; max-width: 30rem; padding: 0;}
h1 {font-size: 1.75em; font-weight: 400; margin: 0 0 .5em 0;}
h2 {clear: both; font-size: 1.4em; font-weight: 700; margin: 1.4em 0 .5em 0;}
h3 {clear: both; font-size: 1em; font-weight: 700; margin: 1.4em 0 .5em 0;}
p {line-height: 1.8; margin: 0 0 1em 0;}
a:link {color: #000;}
a:visited {color: #000; font-weight: normal;}
a:active {color: #000;}
li {line-height: 1.8; list-style: none; margin: 0 0 1em 0;}
strong {font-weight: 700;}
em {font-weight: 400i;}
img, embed, object, video, iframe {border: none; max-width: 100%;}


/* Header */
.heading-container {display: flex; margin-top: .5em;}
	.header-content {display: flex; flex-direction: column;}
		.header-content a {color: #000; font-weight: normal;}
		.logo-container {display: flex;}
			.logo-container a {text-decoration: none;}
			.logo-symbol {width: 50%; height: 50%;}
			.logo {font-size: 1.5em; margin: 1em 0 0 0;}
		.slogan {margin-top: 1em;}
		.nav-container {display: flex; flex-direction: column; font-size: .9em; justify-content: space-between; margin: 1em 0 0 0;}
			.menu {display: inline-block;}
			.menu ul {display: inline-block; width: 100%;}
			.menu li {display: block; float: left; margin: 0 2em 0 0;}
			.menu a {display: block;}


/* Content Pages */
.body-container {display: flex; margin: 0em 0 2em 0;}
	iframe {margin-bottom: 2em;}
	.body-content {display: flex; flex-direction: column;}
	.datePosted {font-size: .8em; margin: 0 0 2em 0;}
	.instructions {font-size: .8em;}
	.large-name-make-smaller {font-size: 3.7em;}


/* Footer */
.footer-container {display: flex; justify-content: center; margin: 4em .3em 2em .3em;}
	.footer-content {border-top: 1px #ccc solid; display: flex; flex-direction: column; padding-top: 1em; width: 30em;}
	.footer-content p {font-size: .7em;}


/** Media Queries (large screens) **/
@media only screen and (min-width: 40em) {
html {margin: 4em 2em 2em 4em;}
	.large-name-make-smaller {font-size: 4em;}
}
.body-container {margin: 4.25em 0 2em 0;}