@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i&display=swap');

/* Universal Settings */
@viewport {width: device-width;}
:root {font-size: 1rem;}
/* background-image: url("image.png"); background-repeat: repeat; color: #000;  */
html {background-color: #f1f1f1; font-family: 'IBM Plex Mono', monospace; font-weight: 400; margin: 0 auto; padding: 0;}
h1 {font-size: 3.052em; font-weight: 700;}
h2 {font-size: 2.441em; font-weight: 400;}
p {line-height: 1.6; margin: .5em 0;}
a:link {color: #000;}
a:visited {color: #000;}
a:active {color: #000;}
a:hover {}
ol li {list-style: decimal; margin: .5em 0 .5em .5em;}
li {line-height: 1.6; list-style: none; margin: 1em 0 0 0;}
strong {font-weight: 700;}
em {font-weight: 400i;}
img, embed, object, video, iframe {border: none; max-width: 100%;}
img {padding-top: 2em;}


/* Header */
.journal-heading-container {display: grid; grid-row-gap: 2em;}
  .logo {font-size: 1.5em; padding: .5em;}
    .logo a {color: #000; text-decoration: none;}
  .subtitle {padding: 0 0 1em 1em;}
  nav {padding: 0 0 1em 1em;}


/* Journal Pages */
.journal-grid {margin: 2em 0 0 0;}
.journal-container {}
.journal-container article {margin-bottom: 3.052em; padding: .5em;}
.journal-aside {border-left: 0; margin-top: 2em; padding: .5em;}


/* Footer */
.footer-container {border-top: 5px solid #000; display: grid; margin-top: 2em;}
  .footer-container p {padding: .5em;}


/** Media Queries (large screens) **/
@media only screen and (min-width: 40em) {
  html {max-width: 70rem;}

  /* Header */
  .logo {font-size: 1.75em; padding: .5em;}

  /* Journal Pages */
  .journal-container article {margin-bottom: 6.104em;}
}
